@import "./variables.scss";

:root::before {
  background: url("/home-background.png");
  content: "";
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

:root {
  --background-color: linear-gradient(#0069e3, #0056ba);

  background: var(--background-color);
  height: 100vh;
}

body {
  color: $text-color;
  height: calc(100vh - 3.5rem);
  margin: auto;
  max-width: $max-width;
  overflow: hidden;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  position: relative;
  z-index: 4;
}
