.teste {
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 16px;
}
